transactionalscope/src/main/app/transactionalscope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">
    <data-mapper:config name="JSON_To_Map" transformationGraphPath="json_to_map_1.grf" doc:name="JSON_To_Map"/>
    <flow name="transactionalscopeFlow1" doc:name="transactionalscopeFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8082" path="Transactional" doc:name="HTTP"/>
        <data-mapper:transform config-ref="JSON_To_Map" doc:name="JSON To Map"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
 
        <set-payload value="*************Sucessful******************" doc:name="Set Payload"/>
    </flow>
</mule>
