db_xlstodb/target/classes/db_xlstodb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="butterfly@123" database="inventory" doc:name="MySQL Configuration"/>
    <data-mapper:config name="MS_Excel_To_List_Map_" transformationGraphPath="ms_excel_to_list_map_.grf" doc:name="MS_Excel_To_List_Map_"/>
    <flow name="db_xlstodbFlow" doc:name="db_xlstodbFlow">
        <file:inbound-endpoint path="src/main/resources" responseTimeout="10000" doc:name="File"/>
        <data-mapper:transform config-ref="MS_Excel_To_List_Map_" doc:name="MS Excel To List&lt;Map&gt;"/>
        <foreach doc:name="For Each">
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[insert into stu (sno,stuname,abc,ph) values (#[payload.snum],#[payload.stuname],#[payload.abc],#[payload.ph]);]]></db:parameterized-query>
            </db:insert>
        </foreach>
        <logger message="success!!!!!" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
