http_jms/target/classes/http_jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="butterfly@123" database="inventory" doc:name="MySQL Configuration"/>
    <data-mapper:config name="JSON_To_Map" transformationGraphPath="json_to_map.grf" doc:name="JSON_To_Map"/>
    <db:mysql-config name="MySQL_Configuration1" host="localhost" port="3306" user="root" password="butterfly@123" database="inventory" doc:name="MySQL Configuration"/>
    <data-mapper:config name="JSON_To_Map_1" transformationGraphPath="json_to_map_1.grf" doc:name="JSON_To_Map_1"/>
    <flow name="http_jmsFlow1" doc:name="http_jmsFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <jms:outbound-endpoint queue="testhttp" connector-ref="Active_MQ" doc:name="JMS"/>
        <flow-ref name="http_jmsFlow2" doc:name="Flow Reference"/>
    </flow>
    <flow name="http_jmsFlow2" doc:name="http_jmsFlow2">
        <jms:outbound-endpoint queue="testhttp" connector-ref="Active_MQ" doc:name="JMS"/>
        <data-mapper:transform config-ref="JSON_To_Map" doc:name="JSON To Map"/>
        <foreach collection="#[payload.country]" doc:name="For Each">
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[insert into myarray  (country) values (#[flowVars.country]);]]></db:parameterized-query>
            </db:insert>
        </foreach>
    </flow>
</mule>
