validating_excel_sheet/src/main/app/validating_excel_sheet.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <data-mapper:config name="MS_Excel_To_JSON" transformationGraphPath="ms_excel_to_json.grf" doc:name="MS_Excel_To_JSON"/>
    <file:connector name="File1" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <file:endpoint path="src/main/resources/output" connector-ref="File1" name="File" responseTimeout="10000" doc:name="File"/>
    <flow name="validating_excel_sheetFlow1" doc:name="validating_excel_sheetFlow1">
        <file:inbound-endpoint path="src/main/resources/input"   responseTimeout="10000" doc:name="File"/>
        <data-mapper:transform config-ref="MS_Excel_To_JSON" doc:name="MS Excel To JSON"/>
        <logger message="Json Output&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; #[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="src/main/resources/output" outputPattern="output.json" responseTimeout="10000" doc:name="File"/>
    </flow>
    <flow name="validating_excel_sheetFlow2" doc:name="validating_excel_sheetFlow2">
        <file:inbound-endpoint responseTimeout="10000" ref="File" doc:name="File"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Validated Json&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
