samplehttps/target/classes/samplehttps.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
<http:listener-config name="HTTP_Listener_Configuration1" protocol="HTTPS" host="localhost" port="9999" doc:name="HTTP Listener Configuration" basePath="/httpstest">
        <tls:context>
            <tls:trust-store path="mulekeystore.jks" password="password" type="jks"/>
            <tls:key-store type="jks" path="mulekeystore.jks" alias="mule" keyPassword="password" password="password"/>
        </tls:context>
    </http:listener-config>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="localhost" port="9999" basePath="/httpstest" doc:name="HTTP Request Configuration">
        <tls:context>
            <tls:trust-store path="mulekeystore.jks" password="password"/>
        </tls:context>
    </http:request-config>
    <flow name="samplehttpsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/testhttps" doc:name="HTTP"/>
        <set-payload value="Call from http service" doc:name="Set Payload"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Copy_of_firstrestapiFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/" doc:name="HTTPS"/>
        <logger message="in https  service" level="INFO" doc:name="Logger"/>
        <set-payload value="From HTTPS service" doc:name="Copy_of_Set Payload"/>
    </flow>
   
   
</mule>
